body,
html {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  box-sizing: border-box;
}

.btnContainer {
  justify-content: center;
  display: flex;
}

button:hover {
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.1);
  transition: 0.9s;
  /* cursor: pointer; */
}

.convertSubmitBtnContainer {
  justify-content: center;
  display: flex;
}
#submitBtn {
  border-width: 2px;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  font-size: 15px;
}
#submitBtn:focus {
  outline: none;
  background-color: rgb(48, 190, 119);
  color: white;
  border-style: none;
}
.homeBtn {
  border-width: 2px;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  margin: 20px;
  font-size: 15px;
}
.btnConverter {
  border-width: 2px;
  border-radius: 50px;
  width: 150px;
  height: 50px;
  margin: 20px;
  font-size: 15px;
}
button:focus {
  outline: none;
  background-color: rgb(48, 190, 119);
  color: white;
  border-style: none;
}

.convertInputContainer {
  justify-content: center;
  display: flex;
}

#inputVal {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
}

.resultClass {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
}
#equalsign {
  margin: 10px;
}

#inputVal::placeholder {
  text-align: center;
  font-size: 15px;
  font-family: "Lato", sans-serif;
}
h1 {
  justify-content: center;
  display: flex;
}
#convertSubmitBtnContainer {
  justify-content: center;
  display: flex;
  margin: 20px;
}
